<p-toolbar styleClass="shadow-md absolute top-0 w-full h-20 z-20">
    <ng-template pTemplate="start">
        <section class="flex items-center gap-2">
            <img height="48" src="/assets/logos/app.png" alt="logo image">
            <span class="text-3xl">
                fwks<span class="font-bold">app</span>
            </span>
        </section>
    </ng-template>
    <ng-template pTemplate="end">
        <fwks-navbar-sidenav />
        <nav class="hidden gap-4 md:items-center md:flex">
            <fwks-navbar-notifications />
            <fwks-navbar-profile />
        </nav>
    </ng-template>
</p-toolbar>