<section (click)="menu.toggle($event)" (keyup)="menu.toggle($event)" tabindex="0" pRipple class="flex items-center gap-2 cursor-pointer">
    <p-avatar [image]="session.current().user.picture.thumbnail" size="large" shape="circle" />
</section>

<p-menu #menu [model]="settings.current.menus.profile" [popup]="true">

    <ng-template pTemplate="start">
        <section class="h-full">
            <fwks-avatar-detail action="router" />
            <p-divider styleClass="m-1" />
        </section>
    </ng-template>

    <ng-template pTemplate="item" let-item>
        <a pRipple [routerLink]="item.routerLink" class="flex gap-2 align-items-center p-menuitem-link">
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
        </a> </ng-template>

</p-menu>