<p-toolbar>

    <ng-template pTemplate="start">
        
        <section class="flex items-center gap-2">
            <img height="48" src="/assets/logos/app.png" alt="logo image">
            <span class="text-2xl">
                fwks<span class="font-bold">app</span>
            </span>
        </section>
        
    </ng-template>

    <ng-template pTemplate="end">

        <section>
            <span>Notifications</span>
            <span>Profile</span>
        </section>

    </ng-template>

</p-toolbar>