<p-toolbar>

    <ng-template pTemplate="start">

        <section class="flex items-center gap-2">
            <img height="48" src="/assets/logos/app.png" alt="logo image">
            <span class="text-3xl">
                fwks<span class="font-bold">app</span>
            </span>
            <fwks-navbar-sidebar />
        </section>

    </ng-template>

    <ng-template pTemplate="end">

        <section class="flex items-center gap-4">
            <fwks-navbar-notifications />
            <fwks-navbar-profile />
        </section>

    </ng-template>

</p-toolbar>